---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import VisionMission from "../components/VisionMission.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import Project from "../components/Project.astro";
import ArticlesSection from "../components/ArticlesSection.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Sorajati Dharma Furniture | Luxury Earthy Elegance">
  <Navbar />
  <ScrollIndicator />
  <main>
    <div class="reveal">
      <Hero />
    </div>
    <div class="reveal section-padding">
      <About />
    </div>
    <div class="reveal section-padding">
      <VisionMission />
    </div>
    <div class="reveal section-padding">
      <ProductShowcase />
    </div>
    <div class="reveal section-padding">
      <Project />
    </div>
    <div class="reveal section-padding">
      <ArticlesSection />
    </div>
  </main>
  <Footer />
</Layout>
